 body {
            font-family: Arial, sans-serif;
        }
        .calculator {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 5px #aaa;
      		background-color: yellow;
        }
        .result {
            font-size: 24px;
            text-align: right;
            margin-bottom: 10px;
      		background-color: #fff;
        }
        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;
      		background-color: black;
        }
        .button {
            padding: 10px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
        }
        .button:hover {
            background-color: #ddd;
        }